<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.banzhi.permission_kt" >


    <application>
        <activity
            android:name="com.banzhi.permission_kt.PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/permission_style"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <provider
            android:name=".PermissionProvider"
            android:authorities="${applicationId}.permission.provider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
